<!DOCTYPE html>
<html ng-app="phoneList">
<head>

  <meta charset="utf-8">

  <title>Phone list</title>

  <!-- BootStrap -->
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">

  <style>
    .select {
      background-color: yellow;
    }

    .bold {
      font-weight: bold;
    }

    .square {
      width: 20px;
      height: 20px;
    }
  </style>

</head>
<body ng-controller="phoneListController">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="jumbotron">
          <!-- <h4 ng-bind="app"></h4> -->
          <h3 class="text-center">{{ app }}</h3>

          <div class="form-group">
            <input class="form-control" type="text" ng-model="searchFilter" placeholder="O que você esta procurando?">
          </div>

          <table ng-show="contacts.length > 0" class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th><a href="" ng-click="orderColumnBy('name')">Name</a></th>
                <th>Phone</th>
                <th>Operadora</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <!-- filter: searchFilter (filtro com todos os criterios) -->
              <!-- filter: {name: searchFilter} (filtro com criterios, no caso filtro por nome) -->
              <tr ng-class="{select : contact.select, bold: contact.select}" ng-repeat="contact in contacts | filter:{name:searchFilter} | orderBy:orderColumn:orderDirection">
                <td><input type="checkbox" ng-model="contact.select"></td>
                <td>{{ contact.name | uppercase }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.phoneCompany.name | lowercase }}</td>
                <td>{{ contact.date | date:'dd/MM/yyyy HH:mm' }}</td>
              </tr>
            </tbody>
          </table>

          <hr>

          <form name="contactForm">
            <div class="form-group">
              <input name="name" class="form-control" type="text" ng-model="contact.name" ng-required="true" ng-minlength="10" placeholder="Nome">
            </div>
            <!-- Error message -->
            <div ng-show="contactForm.name.$error.required && contactForm.name.$dirty" class="alert alert-danger">
              Informe o seu nome
            </div>
            <div ng-show="contactForm.name.$error.minlength" class="alert alert-danger">
              O nome deve conter no minimo 10 caracteres.
            </div>

            <div class="form-group">
              <input name="phone" class="form-control" type="text" ng-model="contact.phone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" placeholder="Telefone">
            </div>
            <!-- Error message -->
            <div ng-show="contactForm.phone.$error.required && contactForm.phone.$dirty" class="alert alert-danger">
              Informe o seu telefone
            </div>
            <div ng-show="contactForm.phone.$error.pattern" class="alert alert-danger">
              O campo telefone deve estar no formato 00000-0000
            </div>

            <div class="form-group">
              <select class="form-control" ng-model="contact.phoneCompany" ng-options="phoneCompany.name group by phoneCompany.category for phoneCompany in phoneCompanies | orderBy:'name'">
                <option value="">=========================Selecione uma  operadora============================<option>
              </select>
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block" ng-click="addContact(contact)" ng-disabled="contactForm.$invalid">Adicionar contato</button>
            </div>

            <div class="form-group">
              <button class="btn btn-danger btn-block" ng-if="isContactSelect(contacts)" ng-click="deleteContact(contacts)">Remover Contato</button>
            </div>

          </form>

        </div>
      </div>
      <div ng-include="'template/footer.html'"></div>
    </div>
  </div>


  <!-- Angular -->
  <script type="text/javascript" src="lib/angular/angular.js"></script>
  <!-- Module -->
  <script type="text/javascript">
    angular.module('phoneList', []);
  </script>
  <!-- Controller -->
  <script type="text/javascript">
    angular.module("phoneList").controller("phoneListController", function ($scope) {
      $scope.app = "Lista telefonica";

      $scope.contacts = [
        {name: "Pedro", phone: "9999-8888", phoneCompany: {name: 'Vivo', code: 15, category: "Mobile"}, date: new Date()},
        {name: "Carlos", phone: "1111-7777", phoneCompany: {name: 'GVT', code: 25, category: 'Fixo'}, date: new Date()},
        {name: "Ana", phone: "2222-5555", phoneCompany: {name: 'Embratel', code: 21, category: 'Fixo'}, date: new Date()}
      ];

      $scope.phoneCompanies = [
        {name: 'Oi', code: 14, category: "Mobile"},
        {name: 'Vivo', code: 15, category: "Mobile"},
        {name: 'Tim', code: 41, category: "Mobile"},
        {name: 'GVT', code: 25, category: 'Fixo'},
        {name: 'Embratel', code: 21, category: 'Fixo'}
      ];


      $scope.select = 'select';

      // função para inserir um novo contato
      $scope.addContact = function (contact) {
        $scope.contacts.push(contact);
        delete $scope.contact;
        $scope.contactForm.$setPristine();
      };

      // função para remover um contato
      $scope.deleteContact = function (contacts) {
        $scope.contacts = contacts.filter(function (contact) {
          if (!contact.select) return contact;
        });

      };

      // função para verificar se existe algum contato selecionado
      $scope.isContactSelect = function (contacts) {
        var i = contacts.some(function (contact) {
          return contact.select;
        });
        return i;
      };

      // Função que filtra a tabela de contatos
      $scope.orderColumnBy = function (col) {
        $scope.orderColumn = col;
        $scope.orderDirection = !$scope.orderDirection;
      };

    });
  </script>
</body>
</html>
